<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射，namespace命名空间，必须和接口的完整类名，完全一致-->
<mapper namespace="dao.SubjectDao">
    <resultMap id="findAllMap" type="entity.Subject">
        <id property="id" column="sub_id"/>
        <result property="name" column="sub_id"/>
        
        <collection property="students" ofType="entity.Student" javaType="List">
            <id property="id" column="id"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <result column="info" property="info"/>
        </collection>
    </resultMap>
<select id="findAll" resultMap="findAllMap">
    select stu.*,sub.id as sub_id,sub.name as sub_name
    from subject sub
    inner join student_subject ss
    on ss.sub_id=sub.id
    inner join student stu
    on stu.id=ss.stu_id
</select>
</mapper>