<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射，namespace命名空间，必须和接口的完整类名，完全一致-->
<mapper namespace="dao.AccountDao">
<!--select对应查询语句，id唯一的-->
    <select id="findAll" resultType="entity.Student">
        select * from student
    </select>
</mapper>